:root {
    --primary-brand: #4d5ae5;
    --text-color: #434455;
    --white: #ffffff;
    --subtle-text-color: #8e8f99;
    --modal-background: #fcfcfc;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --ocean: #404bbf;

}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    background-color: var(--white);

}


a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    margin-right: 76px;
    color: var(--primary-brand);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-part-two {
    color: var(--navy-blue);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header {
    background-color: var(--white-background);
    border-bottom: 1px solid var(--cornflower);
}
.hero-header {
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 64px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.background {
    background-color: var(--white);
}
.menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px
}
.menu-list {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--navy-blue);
}
.menu-list:hover,
.menu-list:focus {
    color: var(--ocean);
}
.connection {
    font-style: normal;
}
.contacts {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.contacts:hover,
.contacts:focus {
    color: var(--ocean)
}
.nav-list {
    display: flex;
    gap: 40px;
}
.contacts-list {
    display: flex;
    gap: 40px;
}
.container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    align-content: center;
}
.hero {
    background-color: var(--navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/bkg-hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    padding: 188px 0;
}
.button {
    font-family: "Roboto", sans-serif;
    background: var(--primary-brand);
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    display: block;
    margin: 0 auto;
    min-height: 56px;
    min-width: 169px;
}
.button:hover,
.button:focus {
    background-color: var(--ocean);
}
.header-three {
    margin-bottom: 8px;
    color: var(--navy-blue);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.subtle-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-header {
    margin-bottom: 72px;
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.benefits {
    padding: 120px 0;
}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
}
.examples {
    padding: 120px 0;
}
.team-card {
    background-color: var(--cloud);
    padding: 120px 0;
}
.tc-name {
    margin-bottom: 8px;
    color: var(--navy-blue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.team-list {
    text-align: center;
    width: 264px;
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.tc-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer .logo-part-two {
    color: var(--cloud);
}

.footer{
    background-color: var(--navy-blue);
    padding: 100px 0;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer .subtle-text {
    color: var(--cloud);
    width: 264px;
}
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-button-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-button {
    font-family: Roboto, sans-serif;
    color: var(--primary-brand);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: var(--cloud);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    padding: 12px 24px;
}
.portfolio-button:hover,
.portfolio-button:focus {
    background: var(--ocean);
    color: var(--white);
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid transparent;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.card-examples {
    width: 360px;
}
.examples-wrapper {
width: 360px;
padding: 32px 16px;
border: 1px solid var(--cornflower);
border-top: none;
}
.card-set-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}
.card-set-gap {
    gap: 24px;
}
.card-set-item {
    flex-basis: calc((100% - 24px * 2) / 3);
}
.card-examples-gap {
    row-gap: 48px;
}
.card-set-item-team {
    flex-basis: calc((100% - 24px * 3) / 4);
}


